body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  /* Ensure scrolling is enabled for the entire page */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* .course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #c6925e;
} */
